In [3]:
char_codes = [36, 162, 163, 165, 8364, 164]

chars = []
for code in char_codes:
    chars.append(chr(code))
print(chars)

['$', '¢', '£', '¥', '€', '¤']

In [5]:
codes_2 = [ord(symbol) for symbol in chars]
print(codes_2)

[36, 162, 163, 165, 8364, 164]

In [8]:
beyond_ascii = [ord(s) for s in chars if ord(s) > 127]
print(beyond_ascii)

[162, 163, 165, 8364, 164]

In [9]:
beyond_ascii_2 = list(filter(lambda c: c > 127, map(ord, chars)))
print(beyond_ascii_2)

[162, 163, 165, 8364, 164]

In [10]:
import timeit

TIMES = 10000

SETUP = """
symbols = '$¢£¥€¤'
def non_ascii(c):
    return c > 127
"""

def clock(label, cmd):
    res = timeit.repeat(cmd, setup=SETUP, number=TIMES)
    print(label, *('{:.3f}'.format(x) for x in res))

clock('listcomp        :', '[ord(s) for s in symbols if ord(s) > 127]')
clock('listcomp + func :', '[ord(s) for s in symbols if non_ascii(ord(s))]')
clock('filter + lambda :', 'list(filter(lambda c: c > 127, map(ord, symbols)))')
clock('filter + func   :', 'list(filter(non_ascii, map(ord, symbols)))')

listcomp        : 0.008 0.007 0.006 0.006 0.007
listcomp + func : 0.010 0.010 0.009 0.009 0.010
filter + lambda : 0.009 0.009 0.008 0.008 0.009
filter + func   : 0.008 0.008 0.008 0.008 0.008

In [13]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
t_shirts = [(color, size) for color in colors for size in sizes]
print(t_shirts)

[('black', 'S'), ('black', 'M'), ('black', 'L'), ('white', 'S'), ('white', 'M'), ('white', 'L')]

In [14]:
# TUPLES
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]
for pasport in traveler_ids:
    print('%s/%s' % pasport)

USA/31195855
BRA/CE342567
ESP/XDA205856

In [15]:
# An elegant application of tuple unpacking is swapping the values of variables without
# using a temporary variable:
a = 1
b = 2
a, b = b, a
print(a,b)

2 1

In [17]:
a, b, *rest = range(5)
print(a, b, rest)

0 1 [2, 3, 4]

In [18]:
a, b, rest = range(5)
print(a, b, rest)

ValueError: too many values to unpack (expected 3)

In [20]:
a, *body, c, d = range(5)
print(a, body, c, d)

0 [1, 2] 3 4

In [26]:
from collections import namedtuple


City = namedtuple('City', 'name country population coordinates')

tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
print(tokyo)
print(tokyo.coordinates)

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))
(35.689722, 139.691667)

In [28]:
print(City._fields)
print(tokyo._asdict())

('name', 'country', 'population', 'coordinates')
{'name': 'Tokyo', 'country': 'JP', 'population': 36.933, 'coordinates': (35.689722, 139.691667)}

# SLICING
to evaluate the expression seq[start:stop:step], Python
calls seq.__getitem__(slice(start, stop, step)).

In [29]:
some_list = [0,1,2,3,4,5,6,7,8,9]
kawalek = slice(0, 6)
print(some_list[kawalek])

[0, 1, 2, 3, 4, 5]